<!DOCTYPE html>
<html><!--start html-->
  <head><!--start head-->
    <title>Index</title>
    <meta charset='utf-8'>
  </head><!--end head-->
  <body><!--start body-->
    <h1 style = 'text-align: center;'>Index</h1>
    <h2>Links:</h2>
    <ul>
      <li>
        <h3>First App</h3>
      </li>
      <ul>
        <li>
          <h3><a href = 'http://127.0.0.1:8000/'>Homepage (you are here)</a></h3>
        </li>
        <li>
          <h3><a href = 'http://127.0.0.1:8000/first_app/welcome'>Welcome</a></h3>
        </li>
        <li>
          <h3><a href = 'http://127.0.0.1:8000/first_app/menu'>Menu</a></h3>
        </li>
        <li>
          <h3><a href = 'http://127.0.0.1:8000/first_app/variables'>Variables</a></h3>
        </li>
        <li>
          <h3><a href = 'http://127.0.0.1:8000/first_app/who_we_are'>Who We Are?</a></h3>
        </li>
      </ul>
      <li>
        <h3>Second App</h3>
      </li>
      <ul>
        <li>
          <h3><a href = 'http://127.0.0.1:8000/second_app/if_one'>If</a></h3>
        </li>
        <li>
          <h3><a href = 'http://127.0.0.1:8000/second_app/if_else'>If Else</a></h3>
        </li>
        <li>
          <h3><a href = 'http://127.0.0.1:8000/second_app/if_elif'>If Elif</a></h3>
        </li>
        <li>
          <h3><a href = 'http://127.0.0.1:8000/second_app/for_one'>For</a></h3>
        </li>
      </ul>
    </ul>
  </body><!--end body-->
</html><!--end html-->