<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

    <h3>Ciao a tutti e benvenuti nella homepage!</h3>

    <h3>Prima app:</h3>
    <ol>
        <li><a href="{% url 'index'%}">index</a></li>
        <li><a href="{% url 'home'%}">home page welcome</a></li>
        <li><a href="{% url 'menu'%}">menu</a></li>
        <li><a href="{% url 'chisiamo'%}">chi siamo</a></li>
        <li><a href="{% url 'variabili'%}">variabili</a></li>
    </ol>

    <h3>Seconda app:</h3>
     <ol>
        <li><a href="{% url 'esfor'%}">esercizio for</a></li>
        <li><a href="{% url 'es_if'%}">esercizio if</a></li>
        <li><a href="{% url 'es_elif'%}">esercizio ifelif</a></li>
        <li><a href="{% url 'es_ifelse'%}">esercizio ifelse</a></li>
    </ol>

</body>
</html>